<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
		<h1>評論區</h1>
		<hr>

<hr>
 <a class="btn btn-success" href="/addpage">新增留言</a>
<hr>
    <ul class="list-group list-group-flush">
      {{each comments}}
    <li class="list-group-item">{{$value.name}} Says: {{$value.message}} <span class="float-right">{{$value.dateTime}}</span>
	</li>
      {{/each}}
  </ul>
  </div>
  </body>
</html>
